@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.title {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: blue;
  margin-bottom: 32px;
}

.text {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.77;
  text-align: center;
  color: #263238;
}

.test {
  color: rosybrown;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 60px 0;
}
@media (max-width: 991px) {
  .header__inner {
    padding: 40px 0;
  }
}
.header__logo {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #263238;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 44px;
}
@media (max-width: 991px) {
  .header__nav {
    display: none;
  }
}
.header__link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #263238;
}
.header__info {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media (max-width: 991px) {
  .header__info {
    display: none;
  }
}
.header__sign {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #263238;
  padding: 21px 44px;
  border: 1px solid #263238;
  border-radius: 10px;
}
.header__get {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  padding: 21px 25px;
  background: #008000;
  border-radius: 10px;
}

.navToggle {
  display: none;
}
@media (max-width: 991px) {
  .navToggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
  }
}
.navToggle span {
  width: 100%;
  background-color: #000;
  height: 2px;
}

.home {
  padding: 67px 0 210px;
}
.home__content {
  max-width: 923px;
  margin: 0 auto;
  text-align: center;
}
.home__title {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: #263238;
  margin-bottom: 70px;
}
.home__title span {
  color: #008000;
}
.home__text {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  color: #263238;
  margin-bottom: 48px;
}
.home__form {
  position: relative;
  max-width: 533px;
  margin: 0 auto;
}
.home__input {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #263238;
  padding: 28px 175px 28px 25px;
  background: rgba(38, 50, 56, 0.1);
  background-color: rgba(38, 50, 56, 0.1);
  border-radius: 10px;
  width: 100%;
  display: block;
}
.home__input::placeholder {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #263238;
}
.home__get {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  padding: 25px 22px;
  background: #008000;
  border-radius: 10px;
}

.brands__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px 15px;
  flex-wrap: wrap;
}
.brands__item {
  flex: 0 1 auto;
}

/*# sourceMappingURL=style.css.map */
