.brands {

  // .brands__inner

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px 15px;
    flex-wrap: wrap;
  }

  // .brands__item

  &__item {
  }
}