.title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 70px;
  color: #263238;
  margin-bottom: 32px;

  & span {
    color: #008000;
  }
  
  @media (max-width: 768px) {
    font-size: 34px;
  }
}

.text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.77;
  color: #263238;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.test {
  color: rosybrown;
}