.title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 70px;
  color: blue;
  margin-bottom: 32px;
}

.text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.77;
  text-align: center;
  color: #263238;
}

.test {
  color: rosybrown;
}